.commentSection {
    margin: 0;

    .comments {
        width: 640px;

        .comment {
            display: flex;

            h4 {
                margin: 5px 5px 5px 10px;
                padding-top: 3px;
                font-size: 1.25rem;
            }

            p {
                margin-top: 8px;
            }
        }
    }

    input {
        width: 620px;
        height: 40px;
        padding: 0;
        border-top: 1px solid grey;
        border-right: none;
        border-bottom: none;
        border-left: none;
        margin-left: 11px;
        margin-top: 5px;
    }
}