.post {
    width: 642px;
    border-radius: 6px;
    border: 1px solid grey;
    margin-bottom: 10px;

    .postHeader {
        width: 640px;
        display: flex;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            padding: 5px 5px;
        }

        h4 {
            margin-top: 8px;
        }
    }

    .belowPicture {
        text-align: start;
        margin-top: 5px;

        p {
            margin-left: 10px;
        }

        .fa-heart {
            padding-right: 10px;
            margin-left: 10px;
        }
        
        .timestamp {
            color: grey;
            margin-left: 10px;
        }
    }
}