.loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    
    .loginHeading {
        width: 450px;
        display: flex;
        justify-content: space-evenly;
        border-radius: 6px;
        background-color: white;
        border: 1px solid grey;
        padding: 5px 10px;
        h1{
            font-family: 'Satisfy', cursive;
            padding-top: 5px;
        }
        .fa-instagram {
            padding-top: 2px;
        }
    }
}
.loginForm {
    margin-top: 25px;
    input {
        margin-right: 10px;
    }
    
}